{% extends 'index.html' %}
{% load static %}
{% block head %}
<style type="text/css">
<link href="{% static '/css/index.css' %}" rel="stylesheet"/>
</style>
<title>망고플래닛 - 즐겨찾기</title>
{% endblock %}
{% block main %}
{% if request.session.email %}
<div class="container-fluid p-0 col-xl-10">
    <div class="row con-center">
        <div class="row m-0">
            <ul class="pagination justify-content-center m-0 p-3 pb-0">
                <h3 class="mt-4 mb-0 ms-2">식당목록<span class="sub-title">Restaurant List</span></h3>
                <!-- 총 페이지 수 -->
                <li class="page-item disabled ms-auto mt-auto size9">
                    <span>총: {{data_list.paginator.num_pages}} 페이지 / {{data_list.paginator.count}} 데이터</span>
                </li>
            </ul>
            {% if data_list.paginator.count == 0 or data_list is None%}
            <div class="row g-3 m-0">
                <h5>데이터가 존재하지 않습니다.</h5>
            </div>
            {% else %}
            <div class="row g-3 m-0">
                {% for name, addr in data_list %}
                <div class="col-6 col-lg-4">
                    <a href="{% url 'chart:detail' name %}" class="row p-0 mx-0 border h-100 link-none">
                        <div class="col-md-4 px-0">
                            <img src="{% get_static_prefix %}imgs/restaurant/{{name}}.jpg"
                                 class="img-fluid rounded-start card-height" alt="..." style="height:100%" onerror="this.src='/static/imgs/no-image.png'">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body px-2 py-1 align-middle">
                                <h5 class="card-title m-0 pt-2 pb-1
                                                   ">{{name}}</h5>
                                <p class="card-text py-1">{{addr}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center m-0 p-3">
                <!-- 이전페이지 -->
                {% if data_list.has_previous %}
                <li class="page-item">
                    {% if data_list.previous_page_number|add:-2 < 1 %}
                    <a class="page-link" href="?key={{key}}&&page=1"><<</a>
                    {% else %}
                    <a class="page-link" href="?key={{key}}&&page={{ data_list.previous_page_number|add:-2 }}"><<</a>
                    {% endif %}
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><<</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in data_list.paginator.page_range %}
                {% if page_number >= data_list.number|add:-3 and page_number <= data_list.number|add:3 %}
                    {% if page_number == data_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?key={{key}}&&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?key={{key}}&&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if data_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?key={{key}}&&page={{ data_list.next_page_number|add:2 }}">>></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">>></a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<style>
    body { font-family: sans-serif; font-size: 14px; }
    main {
        height: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

    }
    button[type="submit"] {
        width: 320px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto 0;
        padding: 0;
        font-size: 20px;
        color: #363634;
        border: 2px solid #ffffff;
        border-radius: 4px;
        background-color: #909091;
        cursor: pointer;
        text-transform: uppercase;
        transition: background-color 0.2s linear;
      }
</style>
<div>
    <h1 style="text-align:center; font-size:3.5em;">로그인 후 이용해주시기 바랍니다 </h1>
</div>
<div id="join_finish">
    <div class="box" style="text-align:center; font-size:1.5em;">
        <p class="button" style="text-align:center">
            <button type="submit" onclick="location.href='{% url "member:login" %}'">로 그 인</button>
        </p>
    </div>
</div>
{% endif %}

{% endblock %}