{% extends 'index.html' %}
{% block main %}
{% load static %}
<h1> <img src="{% get_static_prefix %}imgs/이용가이드.png"/> </h1>
</br></br></br></br>
<style>
    body { font-family: sans-serif; font-size: 14px; }
    main {
        height: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

    }
    button[type="submit"] {
        width: 320px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto 0;
        padding: 0;
        font-size: 20px;
        color: #363634;
        border: 2px solid #ffffff;
        border-radius: 4px;
        background-color: #909091;
        cursor: pointer;
        text-transform: uppercase;
        transition: background-color 0.2s linear;
      }
</style>


<body style="background-color:#FCF8F1">
<div style = "font-size:4.0em;">회원가입</div>
</br>
    <img src="{% get_static_prefix %}imgs/1.gif"/>
</br>
    <div style = "font-size:2.0em;">이메일양식과 이메일 중복을 잡아주고</div>
    <div style = "font-size:2.0em;">비밀번호 중복도 함께 잡아줍니다</div>
</br></br></br></br>
<div style = "font-size:4.0em;">로그인</div>
</br>
    <img src="{% get_static_prefix %}imgs/2.gif"/>
</br>
    <div style = "font-size:2.0em;">가입 후 로그인을 해주세요</div>
</br></br></br></br>
<div style = "font-size:4.0em;">즐겨찾기</div>
</br>
    <img src="{% get_static_prefix %}imgs/3.gif"/>
</br>
    <div style = "font-size:2.0em;">로그인을 하고 식당목록에서 별을 클릭하시고</div>
    <div style = "font-size:2.0em;">나만의 맛집리스트를 만들어봐요</div>
</br></br></br></br>
<div style = "font-size:4.0em;">검색</div>
</br>
    <img src="{% get_static_prefix %}imgs/4.gif"/>
</br>
    <div style = "font-size:2.0em;">먹고싶거나 찾고 싶은 식당을</div>
    <div style = "font-size:2.0em;">키워드검색을 통해 찾아보세요!</div>
</br>

        
</body>
{% endblock %}