<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    {% block head %}
    <title>망고플래닛</title>
    {% endblock %}
    <style type="text/css">
    .mango-logo {
        width: 225px !important;
     }
    @media(max-width:420px){
        .mango-logo {
            width: 50px !important;
        }
        .mango-text {
            display: none;
        }
        .mango-search {
            width: 80% !important;
        }
    }

    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="{% static '/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/index.css' %}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark topbg">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 mango-logo" href="{% url 'chart:index' %}">
        <span><img src="{% static '/imgs/logo.png' %}" alt="logo" width="30" height="24"/>
            <span class="mango-text">망고플래닛</span>
        </span>
    </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->

    <form class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 center"
          method="GET" action="{% url 'chart:index' %}">
        <div class="input-group mango-search">
            <input class="form-control" type="text" placeholder="검색" aria-label="검색"
                   aria-describedby="btnNavbarSearch" name="key"/>
            <button class="btn btn-warning" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if request.session.email %}
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="{% url 'chart:favors' %}">즐겨찾기</a></li>
                <li><a class="dropdown-item" href="{% url 'member:logout' %}">로그아웃</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'member:login' %}">로그인</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu menubg">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">list</div>
                    <a class="nav-link enlarge" href="{% url 'chart:index' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        식당목록
                    </a>
                    <a class="nav-link enlarge" href="{% url 'chart:guide' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        이용가이드
                    </a>
                    <div class="sb-sidenav-menu-heading">Member Only</div>
                    <a class="nav-link enlarge" href="{% url 'chart:favors' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        즐겨찾기
                    </a>
                    <a class="nav-link enlarge" href="{% url 'member:opinion' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        문의하기
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer footbg">
                <div class="small">
                    {% if request.session.email %}
                    환영합니다 {{ request.session.name }} 님
                    {{ request.session.email}}
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            {% block main %}
            <div class="container-fluid p-0 col-xl-10">
                <div class="row con-center">
                    <div class="row m-0">
                        <ul class="pagination justify-content-center m-0 p-3 pb-0">
                            <h3 class="mt-4 mb-0 ms-2">식당목록<span class="sub-title">Restaurant List</span></h3>
                            <!-- 총 페이지 수 -->
                            <li class="page-item disabled ms-auto mt-auto size9">
                                <span>총: {{data_list.paginator.num_pages}} 페이지 / {{data_list.paginator.count}} 데이터</span>
                            </li>
                        </ul>
                        {% if data_list.paginator.count == 0 %}
                        <div class="row g-3 m-0">
                            <h5>데이터가 존재하지 않습니다.</h5>
                        </div>
                        {% else %}
                        <div class="row g-3 m-0">
                            {% for name, addr in data_list %}
                            <div class="col-6 col-lg-4">
                                <a href="detail/{{name}}" class="row p-0 mx-0 border h-100 link-none">
                                    <div class="col-md-4 px-0">
                                        <img src="{% get_static_prefix %}imgs/restaurant/{{name}}.jpg"
                                             class="img-fluid rounded-start card-height" alt="..." style="height:100%" onerror="this.src='/static/imgs/no-image.png'">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body px-2 py-1 align-middle">
                                            <h5 class="card-title m-0 pt-2 pb-1
                                                               ">{{name}}</h5>
                                            <p class="card-text py-1">{{addr}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- 페이징처리 시작 -->
                        <ul class="pagination justify-content-center m-0 p-3">
                            <!-- 이전페이지 -->
                            {% if data_list.has_previous %}
                            <li class="page-item">
                                {% if data_list.previous_page_number|add:-2 < 1 %}
                                <a class="page-link" href="?key={{key}}&&page=1"><<</a>
                                {% else %}
                                <a class="page-link" href="?key={{key}}&&page={{ data_list.previous_page_number|add:-2 }}"><<</a>
                                {% endif %}
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><<</a>
                            </li>
                            {% endif %}
                            <!-- 페이지리스트 -->
                            {% for page_number in data_list.paginator.page_range %}
                            {% if page_number >= data_list.number|add:-3 and page_number <= data_list.number|add:3 %}
                                {% if page_number == data_list.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?key={{key}}&&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?key={{key}}&&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if data_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?key={{key}}&&page={{ data_list.next_page_number|add:2 }}">>></a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">>></a>
                            </li>
                            {% endif %}

                        </ul>
                        <!-- 페이징처리 끝 -->
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </main>
        <footer class="py-4 mt-auto topbg">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-white">Copyright &copy; Mango Planet 2022</div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static '/js/scripts.js' %}"></script>
{% endblock %}
</html>