{% extends 'index.html' %}
{% block head %}
<style type="text/css">
* {
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  color: #363434;
  font-size: 15px;
  background-image: url("https://i.postimg.cc/cJ0Sh07v/image.png");
  background-size: cover;
  z-index: -1;
  display: block;

}

input,
textarea,
button {
  color: #363434;
  font-size: 15px;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

h3 {
  margin: 0 0 12px 0;

  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

p {
  padding: 0 10px;
  margin: 0 0 55px 0;

  font-size: 25px;
  text-align: center;
  line-height: 1.8;
}

.wrapper {
  min-height: 100vh;

  display: flex;
  align-items: center;
}


.form-container {
  max-width: 767px;

  margin: auto;
  padding: 70px 100px 80px;

  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1.0);

}

.form-group {
  position: relative;

  display: block;

  margin-bottom: 48px;
}

.form-group span {
  position: absolute;
  top: 11px;

  color: #363434;
  font-size: 17px;
  cursor: text;
  transition: all 0.2s ease;
  transform-origin: 0 0;
}

.form-group span.border:before {
  position: absolute;
  left: 0;
  top: 41px;

  width: 100%;
  height: 2px;

  display: block;
  background: #909091;
  transform: scaleX(0);
  transition: all 0.15s ease;
}

.form-control {
  width: 100%;
  height: 43px;

  display: block;

  font-size: 15px;
  border: none;
  border-bottom: 2px solid #363634;
  background: none;
}

.form-control:focus,
.form-control:valid {
  border-bottom: 2px solid #b0b0b0;
}

.form-control:focus + span,
.form-control:valid + span {
  transform: translateY(-22px) scale(0.8);
}

.form-control:focus + span + .border,
.form-control:valid + span + .border {
  transform: scaleX(1);
}

textarea.form-control {
  padding: 13px 1px;
}

button[type="submit"] {
  width: 320px;
  height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 60px auto 0;
  padding: 0;

  font-size: 20px;
  color: #363634;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #909091;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
}

button[type="submit1"]:hover {
  background-color: #565657;
}

    button[type="submit1"] {
  width: 320px;
  height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 60px auto 0;
  padding: 0;

  font-size: 20px;
  color: #363634;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #909091;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s linear;
}

button[type="submit"]:hover {
  background-color: #565657;
}

@media(max-width:767px) {
  h3 {
    font-size: 38px
  }

  p {
    padding: 0;
    font-size: 14px;
  }

  .wrapper {
    background: #39459b;
    border: 10px solid #95c6db;
  }

  .form-container {
    width: 100%;

    padding: 24px;

    border: none;
    box-shadow: none;
  }
}
</style>
{% endblock %}
<body>

{% block main %}
    <div class="wrapper">
        <div class="form-container">
            <form name="f" action="#" method="POST" onsubmit="check();">
                {% csrf_token %}
                <h3>Durian&nbsp;Plate</h3>
                <p>상상&nbsp;그&nbsp;이상의&nbsp;맛집</p>

                <div class="form-group">
                  <input name="name" type="text" class="form-control" onblur="check_name(this)" required />
                  <span>Username</span>
                  <span class="border"></span>
                </div>
                <div class="form-group">
                  <input name="email" type="email" class="form-control" onblur="check_alpha(this)" required />
                  <span>E-mail</span>
                  <span class="border"></span>
                </div>
                <div class="form-group">
                  <input name="pwd" type="Password" class="form-control" required />
                  <span>PassWord</span>
                  <span class="border"></span>
                </div>
                <div class="form-group">
                  <input name="password2" type="Password" class="form-control" required />
                  <span>Confirm&nbsp;Password</span>
                  <span class="border"></span>
                </div>
                <button type="submit" value="회원가입">가&nbsp;입&nbsp;하&nbsp;기</button>
            </form>
        </div>
    </div>
{% endblock %}
</body>
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function check(){
        var pwd = $('input[name=pwd]').val();
        var pwd2 = $('input[name=password2]').val();
        if (pwd==pwd2){
            //location.href='{% url "member:register" %}';
        }else{
            alert('비밀번호가 일치하지 않습니다.');
        }
    }
    function check_name(e){
        const regex = /^[가-힣]{3,5}$/;
        text = $(e).val()
         if (regex.test(text)){
        } else {
            alert('3~5개의 한글로 된 이름을 입력해주세요.');
        }
    }
    function check_alpha(e){
        const regex = /^[a-zA-Z0-9+-\_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]{3,3}$/;
        text = $(e).val();
        //console.log(regex.test(text));
        if (regex.test(text)){
        } else {
            alert('올바른 형식의 이메일 주소를 입력해주세요.');
        }
    }
</script>
{% endblock %}

     